DATABASE_URL=postgresql://appuser:apppass@postgres:5432/egresados_db
REDIS_URL=redis://redis:6379
JWT_SECRET=tu_secreto_super_seguro_cambiame
PORT=4000
SMTP_HOST=smtp.gmail.com
SMTP_USER=notificaciones@empresa.com
SMTP_PASS=xxxx
AWS_S3_BUCKET=mis-reportes
AWS_ACCESS_KEY_ID=xxxx
AWS_SECRET_ACCESS_KEY=xxxx